<div class="container">
    <div>
        <div>
            <button phx-click="submit_cats">Submit to Cats</button>
            <button phx-click="eat_cats">Eat Cats</button>
        </div>
        <%= @deploy_step %>
    </div>
</div>
